section.advantages
  .advantages--before(class="lazy" data-bg="img/bg/dots.webp")
  .container 
    .row
      .col-12.col-lg-6
        .title
          .title--before(class="lazy" data-bg="img/bg/spider-red.webp")
          span захоплюючі
          span.accent-text пригоди
        .advantages__img.shadow(data-speed="0.8")
          .advantages__img--before(class="lazy" data-bg="img/bg/halk.webp")
          img(data-src="img/tent.webp", alt="tent", width="972", height="560", class="lazy")
      .col-12.offset-lg-1.col-lg-5.col-xl-4.col-xxl-3
        .description Активний захід з лазертагом, пейнтболом, гідроболом, ньорфом і квестами надає дітям можливість відчути адреналін, підвищити свою самооцінку та відчути себе справжніми учасниками захоплюючої пригоди.
        .text За дітьми спостерігатиме команда заходу, а батьки відпочиватимуть у бенкетній залі. Дітям доступні кілька окремих локацій, а програма детально сплановується нашими спеціалістами.
    .row
      .col-12.offset-lg-2.col-lg-8
        .advantages__counter.counter
          .counter--before(class="lazy" data-bg="img/bg/halk.webp" data-speed="1.2")
          .counter__item
            .counter__num
              span(class="counterOne" data-number="10") 0
              span.counter__plus +
            .counter__text
              span.accent-color Років
              | проведення дитячих свят
          .counter__item
            .counter__num
              span(class="counterTwo" data-number="15") 0
              span.counter__plus +
            .counter__text
              span.accent-color Років
              | досвіду в ігрових активностей
          .counter__item
            .counter__num ∞
            .counter__text Безліміт куль і яскравих емоцій
    .row
      .col-12.advantages__btn
        a.btn(href="#modalGift").modal-open Отримати подарунок
  .divider



