section.emotions
  .emotions--before(class="lazy" data-bg="img/bg/dots.webp")
  .container 
    .row
      .col-12.col-lg-5.col-xl-4
        .emotions__img.gsap-from-left
          img(data-src="img/rock.webp", alt="rock", width="528", height="540").shadow.lazy
      .col-12.offset-lg-1.col-lg-6.col-xl-7
        .title
          span Речі
          span зносяться,
          span емоції
          span.accent-text залишаться
        .description.emotions__description Ми організуємо широкий вибір активностей для дітей, щоб іменинники пишались своїм святом
          .emotions__description--before(class="lazy" data-bg="img/bg/flash.webp" data-speed="1.1")
    .row.tabs.emotions-tabs
      .col-12.col-md-5.col-lg-6.offset-xxl-1.col-xxl-5
        ul.tabs__caption.emotions-tabs__caption
            li.active
              .emotions-tabs__number 01
              | Пейнтбол
            li
              .emotions-tabs__number 02
              | Лазертаг
            li
              .emotions-tabs__number 03
              | Паперове шоу
            li
              .emotions-tabs__number 04
              | Квести
            li
              .emotions-tabs__number 05
              | Гідробол
            li
              .emotions-tabs__number 06
              | Ньорф
      .col-12.col-md-7.offset-lg-1.col-lg-5.offset-xl-0.col-xl-6.offset-xxl-1.col-xxl-5.tabs__contents.emotions-tabs__contents
        .tabs__content.emotions-tabs__content.active
          .emotions-tabs__img.shadow
            img(data-src="img/emotions/paintball.webp", alt="paintball", width="664", height="428", class="lazy")
          .emotions-tabs__text.text
            span.accent-color Захоплива командна гра
            | з фарбовими кулями, яка не лише надає можливість дітям відчути адреналін та радість від змагань, але й сприяє розвитку координації рухів та стратегічного мислення, зміцнюючи командний дух.
        .tabs__content.emotions-tabs__content
          .emotions-tabs__img.shadow
            img(data-src="img/emotions/lasertag.webp", alt="lasertag", width="664", height="428", class="lazy")
          .emotions-tabs__text.text
            span.accent-color Безпечна ігрова активність,
            | де діти можуть відчути себе справжніми героями, використовуючи лазерні пістолети для забавних змагань. Розвиває навички координації, тактичного планування та співпраці в команді.
        .tabs__content.emotions-tabs__content
          .emotions-tabs__img.shadow
            img(data-src="img/emotions/paper.webp", alt="paper", width="664", height="428", class="lazy")
          .emotions-tabs__text.text
            span.accent-color Діти занурюються у чарівний світ,
            | де кожен рух, кожен дотик до паперових фігур створює неймовірні пригоди та відкриває дивовижні сюжети.
        .tabs__content.emotions-tabs__content
          .emotions-tabs__img.shadow
            img(data-src="img/emotions/qwest.webp", alt="qwest", width="664", height="428", class="lazy")
          .emotions-tabs__text.text
            span.accent-color Захопливі пригоди та розгадування головоломок,
            | які розвивають логічне мислення, креативність та командну взаємодію, сприяють активному вивченню навколишнього середовища.
        .tabs__content.emotions-tabs__content
          .emotions-tabs__img.shadow
            img(data-src="img/emotions/hidroball.webp", alt="hidroball", width="664", height="428", class="lazy")
          .emotions-tabs__text.text
            span.accent-color Спортивна гра з використанням пістолетів,
            | які стріляють кульками з гідрогеля орбізами. Влучання кульок абсолютно безболісне, не залишають слідів. Безпечна активність для будь-якого віку, яка поєднує фізичну активність, елементи тактики та конкуренцію.
        .tabs__content.emotions-tabs__content
          .emotions-tabs__img.shadow
            img(data-src="img/emotions/nerf.webp", alt="nerf", width="664", height="428", class="lazy")
          .emotions-tabs__text.text
            span.accent-color Забавні ігри з пластиковими стрілами,
            | сповнені емоцій та здорового суперництва. Динамічна битва стане захопливою розвагою для всіх вікових груп.
  .divider