footer.footer
  .container 
    .row
      .col-12
        .footer__body
          .footer__item © 2023 Warriors
          .footer-logo.logo
            img(data-src="img/logo-warriors.webp", alt="logo", width="130", height="44", class="lazy")
          .footer__item
            a(href="#policy").footer__link.modal-open Privacy + Terms
            a(href="https://rezart.agency/" target="_blank").footer__site
              svg.icon
                use(xlink:href="#icon-logo")