header.header#header
  .container
    .row
      .col-6.col-lg-2.col-xl-2
        a(href="/").header-logo.logo
          img(data-src="img/logo-warriors.webp", alt="logo", width="130", height="44", class="lazy")
      .col-6.col-lg-10.col-xl-10.header__contact
        a(href="https://www.google.com/maps/place/%D1%83%D0%BB.+%D0%9D%D0%BE%D0%B2%D0%BE%D0%BA%D0%BE%D0%BD%D1%81%D1%82%D0%B0%D0%BD%D1%82%D0%B8%D0%BD%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F,+15,+%D0%9A%D0%B8%D0%B5%D0%B2,+02000/@50.4853756,30.4832073,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4cde579fd0553:0xebeb1c607998f97e!8m2!3d50.4853756!4d30.4832073!16s%2Fg%2F1tpn1231?entry=ttu" target="_blank").header__adress
          svg.icon
            use(xlink:href="#icon-place")
          | м. Київ вул. Новоконстантинівська 15
        a(href="tel:+380731824717").header__phone
          svg.icon
            use(xlink:href="#icon-phone")
          | +38 (073) 182 47 17
        a(href="#modalGift").header__btn.btn.modal-open Зв'яжіться зі мною