section.hero
  .hero--before(class="lazy" data-bg="img/bg/dots.webp")
  .line.marquee
    .holder
      .marquee__item
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
      .marquee__item.marquee__item--copy
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
  .line.line--white.marquee
    .holder
      .marquee__item
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
      .marquee__item.marquee__item--copy
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
        svg.icon
          use(xlink:href="#icon-smile")
        | Для дітей від 6 років
  .container 
    .row
      .offset-1.col-10.offset-lg-0.col-lg-5
        .hero__shooter.shadow(data-speed="1.1")
          img(data-src="img/hero-shooter.webp", alt="shooter", width="688", height="692", class="lazy")
      .d-none.d-lg-block.offset-lg-4.col-lg-3
        .hero__qwester.shadow(data-speed="0.8")
          img(data-src="img/hero-qwester.webp", alt="qwester", width="389", height="508", class="lazy")
      .col-12.offset-lg-5.col-lg-6
        .title
          .title--before(class="lazy" data-bg="img/bg/sp-man.webp" data-speed="1.2")
          span Ваша
          span дитина
          span — головний
          span.accent-text герой
          span свята!
    .row
      .col-12.col-lg-5.offset-xl-1.col-xl-4
        .description
          p
            | Батьки знають, як важко організувати дитяче свято.
            br
            | Щороку інтереси дітей змінюються, а задачі (декор, смаколики, розважальна програма) лишаються.
          p Ви тижнями продумуєте програму, яка забудеться на наступний день після свята. А замість відпочинку постійно бігаєте і перевіряєте, щоб всі були задоволені.
      .col-12.col-lg-5.offset-lg-2.col-xl-4.hero__img(data-speed="0.8")
        .hero__img--before(class="lazy" data-bg="img/bg/spider-red.webp" data-speed="1.4")
        img(data-src="img/hero-shooters.webp", alt="shooters", width="552", height="540").shadow.lazy
    .row.hero__subtitle
      .col-12.col-lg-4
        .subtitle
          span подія,
          span яку
          span ваша
          span дитина
          span.accent-text згадуватиме
          span довго!
    .row
      .col-12.offset-lg-1.col-lg-4
        .text
          p
            | Дитячий день народження
            span.accent-color в центрі розваг Warriors
            | — подія, яку ваша дитина і її друзі згадуватимуть ше довго!
          p
            | Діти отримують
            span.accent-color можливість показати вміння у командних битвах
            | і здружаться ще більше. Ніякої нудьги! А головний герой ідеального заходу — ваш іменинник!
  .divider