section.home
  .home--before(class="lazy" data-bg="img/bg/dots.webp")
  .container 
    .row 
      .col-12
        .home__title
          h1.main-title
            .main-title--after(class="lazy gsap-from-right" data-bg="img/bg/sp-woman.webp")
            .main-title--before(class="lazy gsap-from-left" data-bg="img/bg/spider.webp")
            span.main-title__wrapper
              span.main-title__text
                span Активне
                br
                span свято
                span.accent-text для
                span дітей
    .row
      .col-12.offset-md-6.col-md-6
        .home__description
          .home__text День народження під ключ із пейнтболом, лазертагом, гідроболом, ньорфом і квестами
          .home__location
            svg.icon
              use(xlink:href="#icon-place")
            | м. Київ
      .col-12.home__btn
        a.btn(href="#packages").scroll-to Ціни і бронювання
      .col-12
        .home__icons
          a(href="https://instagram.com/warriors.in.ua?igshid=MzMyNGUyNmU2YQ==" target="_blank").home__icon
            svg.icon
              use(xlink:href="#icon-insta")
          a(href="https://www.facebook.com/profile.php?id=61551881316500" target="_blank").home__icon
            svg.icon
              use(xlink:href="#icon-fb")
