section.reviews
  .reviews--before(class="lazy" data-bg="img/bg/dots.webp")
  .devider
  .container
    .row
      .col-12
        .title
          .title--before(class="lazy" data-bg="img/bg/flash-run.webp" data-speed="1.2")
          span Відгуки
      .col-12
        .reviews__items
          .col-12.col-lg-6.col-xl-3
            .reviews__item
              a(href="img/reviews/review1-3x.webp")(data-fancybox="images")
                img(data-src="img/reviews/review1.webp", alt="review", width="389", height="239", class="lazy")
            .reviews__item
              a(href="img/reviews/review2-3x.webp")(data-fancybox="images")
                img(data-src="img/reviews/review2.webp", alt="review", width="389", height="185", class="lazy")
            .reviews__item
              a(href="img/reviews/review3-3x.webp")(data-fancybox="images")
                img(data-src="img/reviews/review3.webp", alt="review", width="389", height="80", class="lazy")
            .reviews__item.reviews__item--hidden
              a(href="img/reviews/review4-3x.webp")(data-fancybox="images")
                img(data-src="img/reviews/review4.webp", alt="review", width="389", height="132", class="lazy")
          .col-12.col-lg-6.col-xl-3
            .reviews__item
              a(href="img/reviews/review5-3x.webp")(data-fancybox="images")
                img(data-src="img/reviews/review5.webp", alt="review", width="389", height="144", class="lazy")
            .reviews__item
              a(href="img/reviews/review6-3x.webp")(data-fancybox="images")
                img(data-src="img/reviews/review6.webp", alt="review", width="389", height="212", class="lazy")
            .reviews__item
              a(href="img/reviews/review7-3x.webp")(data-fancybox="images")
                img(data-src="img/reviews/review7.webp", alt="review", width="389", height="164", class="lazy")
            .reviews__item.reviews__item--hidden
              a(href="img/reviews/review8-3x.webp")(data-fancybox="images")
                img(data-src="img/reviews/review8.webp", alt="review", width="389", height="116", class="lazy")
          .col-12.col-lg-6.col-xl-3
            .reviews__item
              a(href="img/reviews/review9-3x.webp")(data-fancybox="images")
                img(data-src="img/reviews/review9.webp", alt="review", width="389", height="228", class="lazy")
            .reviews__item
              a(href="img/reviews/review10-3x.webp")(data-fancybox="images")
                img(data-src="img/reviews/review10.webp", alt="review", width="389", height="268", class="lazy")
            .reviews__item.reviews__item--hidden
              a(href="img/reviews/review11-3x.webp")(data-fancybox="images")
                img(data-src="img/reviews/review11.webp", alt="review", width="389", height="160", class="lazy")
          .col-12.col-lg-6.col-xl-3
            .reviews__item
              a(href="img/reviews/review12-3x.webp")(data-fancybox="images")
                img(data-src="img/reviews/review12.webp", alt="review", width="389", height="92", class="lazy")
            .reviews__item
              a(href="img/reviews/review13-3x.webp")(data-fancybox="images")
                img(data-src="img/reviews/review13.webp", alt="review", width="389", height="584", class="lazy")
    .row
      .col-12
        .reviews__btn
          a(href="#").btn дивитися всі відгуки
      .col-12.offset-lg-4.col-lg-4
        .description На цьому місці може бути ваша дитина
  .devider
