section.thanks
  .thanks--before(class="lazy" data-bg="img/bg/dots.webp")
  .thanks--after(class="lazy" data-bg="img/bg/dots.webp")
  .container 
    .row
      .col-12.offset-lg-5.col-lg-7
        a(href="/").thanks-logo.logo
          img(data-src="img/logo-warriors.webp", alt="logo", width="130", height="44", class="lazy")
  .container.thanks__centered
    .row.thanks__centered
      .col-12.col-lg-5.thanks__img-wrap
        .thanks__img
          img(data-src="img/spider-thanks.webp", alt="spider", width="795", height="933", class="lazy")
      .col-12.col-lg-7
        h1.thanks__title Дякуємо!
        h2.thanks__subtitle
          | Ви зробили перший крок
          span.accent-text.accent-color до свята
        .description
          | Найближчим часом ми звяжемося з вами. Та обіцяємо, що створимо
          span.accent-color незабутній день
          | для вашої дитини
        a(href="https://www.instagram.com/warriors.in.ua/" target="_blunk").btn.thanks__btn
          svg.icon
            use(xlink:href="#icon-insta")
          span Переглянути наш Instagram
