section.why
  .why--before(class="lazy" data-bg="img/bg/dots.webp")
  .container 
    .row
      .col-12.col-lg-7
        .title
          .title--before(class="lazy" data-bg="img/bg/iron.webp" data-speed="1.2")
          span Чому
          span вам
          span.accent-text варто
          span.accent-text замовити
          span активне
          span дитяче
          span свято
          span в Warriors
    .row
      .col-12.col-lg-6
        .why__img.shadow.gsap-from-left
          img(data-src="img/party.webp", alt="party", width="972", height="840", class="lazy")
      .col-12.offset-lg-1.col-lg-5
        .accordeon.why-acc
          .accordeon-title.why-acc__title Захоплюючі розваги
          .accordeon-content.why-acc__content.text Пейнтбол, лазертаг, квести, ньорф, гідробол дарують дітям яскраві емоції та пригоди.
          .accordeon-title.why-acc__title Розвиток навичок
          .accordeon-content.why-acc__content.text Активності сприяють розвитку координації, тактичного мислення та співпраці.
          .accordeon-title.why-acc__title Безпека та нагляд
          .accordeon-content.why-acc__content.text Команда заходу дбає про дітей, щоб батьки могли відпочивати, поки їхні діти активно розважаються.
          .accordeon-title.why-acc__title Творча самореалізація
          .accordeon-content.why-acc__content.text Можливість вибрати свою стратегію, тактику та вирішити, як досягти своїх цілей.
          .accordeon-title.why-acc__title Взаємодія та командний дух
          .accordeon-content.why-acc__content.text Гра в командних іграх сприяє розвитку співпраці та об'єднанню дітей.
          .accordeon-title.why-acc__title Здоров’я
          .accordeon-content.why-acc__content.text Рухливі ігри підтримують фізичний розвиток дітей та формують любов до спорту.
          .accordeon-title.why-acc__title Відсутність підготовки
          .accordeon-content.why-acc__content.text Організатори забезпечують всі необхідні аксесуари та обладнання.
          .accordeon-title.why-acc__title Пам'ятні  фото
          .accordeon-content.why-acc__content.text Веселі моменти будуть зафіксовані фотографом та залишаться у пам'яті надовго.
  .divider