.controls
    .container 
        a(href="#").controls__wrap
            .controls__arrow
                svg.icon
                    use(xlink:href="#arrow") 
            .controls__title Checkout
        include lang