head
	meta(charset='UTF-8')
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/apple-touch-icon.png")
	link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")
	link(rel="mask-icon", href="img/favicon/safari-pinned-tab.svg", color="#5bbad5")

	meta(name="keywords", content="Warriors, активне свято, день народження, пейнтбол, лазертаг, квести, розваги, адреналін, друзі, командні битви, розвиток навичок, командний дух, безпека, дитяча програма, спеціалісти, гідробол, веселі розваги, фізичний розвиток, креативність, рукоділля, творчість, дискотека, музичні розваги, релаксація, святкування, пригоди, батьки, спостереження, бенкетний зал, програма, незабутні емоції, веселі танці, ігрові активності, розважальна програма, іменинник, забави, водні битви, локації, творча самореалізація, святковий настрій, святкування.")
	meta(name="description", content="Активний захід з лазертагом, пейнтболом і квестами для вашої дитини і її друзів.")
	meta(property='og:site_name', content='Warriors')
	meta(property='og:title', content='Дитяче свято в Warriors: активний відпочинок у Києві')
	meta(property='og:description', content='Активний захід з лазертагом, пейнтболом і квестами для вашої дитини і її друзів.')
	meta(property='og:image', content='img/warriors.png')
	//- link(rel="shortcut icon" href="img/favicon.png")
	//- meta(name="robots" content="noindex, nofollow")

	link(rel="stylesheet" href="css/main.min.css")
	title Дитяче свято в Warriors: активний відпочинок у Києві